.currency-container {
  display: flex;
  justify-content: center;
}

.currency-column {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.currency-column h2 {
  margin-bottom: 10px;
}

.currency-column p {
  margin: 10px 0;
}

.currency-column .average {
  font-weight: bold;
  font-size: 1.2em;
}
#refresh-btn {
  margin-bottom: 20px;
}
.currency-container {
  background-color: #d2f5dd;
  padding: 10px;
}
